body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: self-start;
}
p{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color:black;
}
.container{
    padding: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    min-height: 100dvh;
    height: auto;
    background-color: rgba(240, 241, 236);

}
.navbar{
    width: 100%;
    height: 30px;
    padding-bottom: 10px;
    display: flex;
    border-bottom: 4px black solid;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(145, 149, 148);
}
.p-n-1,.p-n-2,.p-n-3{
    font-size: clamp(0.1rem, 2vw, 1.2rem);
}
.container-judul{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;   /* top right bottom left */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.judul{
    font-size: clamp(0.1rem, 10vw, 6rem);
    font-weight: bold;
    line-height: 0.9; /* <- menghilangkan ruang yang ada di atas dan bawah text */

}
.container-subjudul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 0;
    flex-wrap: wrap;
}
.sub-judul{
    font-size: clamp(0.1rem, 4vw, 0.7rem);
    font-weight: bold;
}
.subjudul-wrap-button{
    display: flex;
    align-items: center;
    gap:5px;
}
.subjudul-button{
    font-size: clamp(0.1rem, 0.8vw, 0.55rem);
    border: 1px solid black;
    border-radius: 30px;
    padding: 3px;
}


.main-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.content-card{
    padding:10px;
    border:1px solid black;
    border-left: none;
}
.content-card:nth-child(3n+1){
    border-left:1px solid black;
}

.heading-content-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.content-card-date{
    font-size: clamp(0.1rem, 3.5vw, 0.7rem);
}
.content-card-button{
    font-size: clamp(0.1rem, 1.5vw, 0.6rem);
    border: 1px solid black;
    padding:5px;
    box-sizing: border-box;
    border-radius: 40%;
}
.wrap-img{
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.content-card-img{
    width: 100%;
    filter: grayscale(100%);

}
.content-card-judul{
    margin: 5px 0;
    font-weight: bold;
    font-size: clamp(0.1rem, 5vw, 0.9rem);
}
.content-card-isi{
    font-size: clamp(0.1rem, 4vw, 0.8rem);
    text-align: justify;
}
.content-card-footer{
    margin-top: 10px;
}
.content-card-footer-p{
    font-size: clamp(0.1rem, 3vw, 0.6rem);
}
.footer-p-1{
    font-weight: bold;
}
.footer{
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    font-size: clamp(0.7rem, 1.5vw, 1rem);
}
.container-button{
    display: flex;
    justify-content: space-between;
    margin:15px -50px 0 -50px;
    font-size: clamp(0.7rem, 1.5vw, 1rem);
}
.back{
    display: flex;
    justify-self: flex-start;
    padding-left: 40px;
}
.back-img{
    width: 10px;
    vertical-align: middle;
}
.next{
    display: flex;
    justify-content: end;
    padding-right: 40px;
}
.next-img{
    width: 10px;
    vertical-align: middle;
}
@media (max-width: 700px){
    .container{
        overflow: auto;
        padding-top:30px;
    }
}
@media (max-width: 700px){
    .container{
        overflow: auto;
        padding-top:30px;
    }
}
@media (max-width: 450px){
    .container{
        padding-top:10px;
    }
    .main-content {
        grid-template-columns: repeat(2,1fr);
    }
    .content-card:nth-child(1n+1){
        border-left:1px solid black;
    }

}
@media (max-width: 350px){
    .main-content {
        grid-template-columns: repeat(1,1fr);
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2026-4-17 14:20:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-fwd-bl
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-fwd-bl {
    0% {
        -webkit-transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
        transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}
@keyframes tilt-in-fwd-bl {
    0% {
        -webkit-transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
        transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}

.tilt-out {
    -webkit-animation: tilt-in-fwd-bl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: tilt-in-fwd-bl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

/* ----------------------------------------------
 * Generated by Animista on 2026-4-17 14:52:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-fwd-tr {
    0% {
        -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
        transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}
@keyframes tilt-in-fwd-tr {
    0% {
        -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
        transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}

.tilt-in {
    -webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.tilt-in-slow {
    -webkit-animation: tilt-in-fwd-tr 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tilt-in-fwd-tr 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
